*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
}


.App{
    display: flex;
    
}

.menu-wrap{
    width: 35vh;
    background:#E1E1E1;
    flex-shrink: 0;
}

.chat-main{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.message-list{
    background: #CEFFFC;
    height: 95vh;
    max-height: 95%;
    overflow-y:scroll;
    flex-shrink: 0;
}

.message-input{
    width: 100%;
    background: white;
    height: 5vh;
    text-align: center;  
    display: flex;
    flex-flow: row wrap;
    align-items: center;  
}

.message-input TextField{
    width: 90%;

    border: 0.2px solid black;
    background: #E7E7E7;
    border-radius: 20px;
    outline: none;
    resize: none;
}

.message{
    background: #8EAEFF;
    overflow-x:hidden;
    width: fit-content; 
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 10px;
    max-width: 10%;
    margin-left: auto; 
    word-wrap: break-word;
}