*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
}


.App{
    display: flex;
    
}

.menu-wrap{
    width: 30vh;
    background:#f2eaee;
    flex-shrink: 0;
}

.chat-main{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.message-list{
    background: #CEFFFC;
    height: 93vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message-input{
    width: 100%;
    background: white;
    height: 7vh;
    text-align: center;  
    display: flex;
    flex-flow: row wrap;
    align-items: center;  
}

.message-input TextField{
    width: 90%;
    border: 0.2px solid black;
    background: #E7E7E7;
    border-radius: 20px;
    outline: none;
    resize: none;
}

.message{
    background: #8EAEFF;
    overflow-x:hidden;
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 10px;
    width: fit-content;
    word-wrap: break-word;
    word-break:break-all;
    flex-shrink: 0;
    margin-left: 10vh;
}


.menu-title{
    font-size: 23px;
    text-align: center;
    color: #676767;
    padding-top: 30px;
    background-color:#9DBFF2;
    padding-bottom: 30px;
    border-radius: 0px 0px 30px 30px;
}


.room-data{
    padding-top: 20px;
    padding-bottom: 20px;
}

.room-name{
    color: #676767;
    padding-left: 10px;
}

.room-password{
    color: #676767;
    padding-left: 10px;
}

.divider{
    text-align: center;
    background-color:#C4C4C4;
    padding-top: 2px;
    width: 20vh;
    margin: 0 auto;
}

.participants-wrap{
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center; 
}

.user-img{
    padding-left: 10px;
}

.user-name{
    padding-left: 10px;
    color: #676767;
}


@media screen and (max-width: 610px){
    .menu-wrap{
        width: 20vh;
    }

}
@media screen and (max-width: 515px){
    .menu-wrap{
        width: 15vh;
    }

}